.fullscreen-container {
    position: relative;
    background: #fbf7ea;
    margin: 0 auto !important;
    width: 100% !important;
    max-height: 90% !important;
}

.fullscreen-slider-wrapper {
    position: relative;
    padding: 2% !important;
    box-sizing: border-box;
    margin: 0 auto !important;
    max-height: 90% !important;
}

/* On medium devices, reduce the height a bit */
@media (max-width: 1024px) {
    .fullscreen-slider-wrapper {
        height: calc(100dvh - 12%) !important;
    }
}

/* On small devices, allow auto height so the image can fill horizontally */
@media (max-width: 768px) {
    .fullscreen-slider-wrapper {
        max-width: 100%;
        margin: 0 !important;
        padding: 2%;
        height: auto !important;
        /* Let the content define height */
    }
}


.fullscreen-close-button {
    position: absolute !important;
    z-index: 1000;
    color: #fff !important;
    background: none;
}

.media-element {
    width: 100% !important;
    height: 100% !important;
    margin: 0 auto !important
}

/* Optional: you can keep additional arrow styles here if needed */