.fullscreen-container {
    position: relative;
    background: #FBF7EA;
}

.fullscreen-close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1000;
    color: #0F4C54;
    background: none;
}