.gallery-container {
    width: 100% !important;
    margin: 0 auto;
    text-align: center;
}

.main-media-wrapper {
    position: relative;
    display: inline-block;
    /* Ensures container height matches the image */
    width: 100% !important;
}

/* Main image styling */
.main-image {
    display: block;
    /* Make sure container height matches image height */
    width: 100%;
    max-height: 600px;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
}

/* Responsive adjustments for the main image */
@media (max-width: 768px) {
    .main-image {
        max-height: 400px;
    }

    .gallery-container {
        width: 90% !important;
    }

    /* Positioning the left arrow to the left side of the image */
    .left-arrow {
        left: -5 % !important;
        /* Adjust to your preference */
    }

    /* Positioning the right arrow to the right side of the image */
    .right-arrow {
        right: -5% !important;
        /* Adjust to your preference */
    }
}

@media (max-width: 480px) {
    .main-image {
        max-height: 300px;
    }
}

/* Common arrow button styling */
.arrow-button {
    position: absolute !important;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    background: none;
    z-index: 2;
}

/* Positioning the left arrow to the left side of the image */
.left-arrow {
    left: -10% !important;
    /* Adjust to your preference */
}

/* Positioning the right arrow to the right side of the image */
.right-arrow {
    right: -10% !important;
    /* Adjust to your preference */
}

/* Thumbnail slider styling */
.thumbnail-slider {
    margin-top: 20px;
    overflow: hidden;
}

.slick-slider {
    max-width: 100%;
    overflow: hidden;
    margin: 0 auto !important;
}

.slick-list {
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin-top: 1% !important;
}

.slick-track {
    display: flex !important;
    justify-content: center !important;
    align-items: center;
    gap: 0 !important;
}

.slick-slide {
    display: flex !important;
    justify-content: center !important;
    padding: 0 !important;
    margin: 0 !important;
}

/* Thumbnail items */
.thumbnail-wrapper {
    cursor: pointer;
    margin: 0 5px;
    padding: 0;
}

.thumbnail-image {
    width: 150px;
    height: 90px;
    object-fit: cover;
    border-radius: 4px;
    transition: transform 0.3s;
}

.thumbnail-image:hover {
    transform: scale(1.05);
}

/* Responsive adjustments for thumbnails */
@media (max-width: 768px) {
    .thumbnail-image {
        width: 120px;
        height: 72px;
    }
}

@media (max-width: 480px) {
    .thumbnail-image {
        width: 100px;
        height: 60px;
    }
}

/* Remove any default arrow styles from slick slider */
.slick-prev,
.slick-next {
    display: none !important;
}