.gallery-container {
    width: 100% !important;
    margin: 0 auto;
    text-align: center;
}

.main-image {
    width: 100%;
    max-height: 600px;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer !important;
}

/* Responsive adjustments for the main image */
@media (max-width: 768px) {
    .main-image {
        max-height: 400px;
    }
}

@media (max-width: 480px) {
    .main-image {
        max-height: 300px;
    }
}

/* Slider centrado */
.thumbnail-slider {
    margin-top: 20px;
    overflow: hidden;
}

.slick-slider {
    max-width: 100%;
    overflow: hidden;
    margin: 0 auto !important;
}

.slick-list {
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin-top: 1% !important;
}

.slick-track {
    display: flex !important;
    justify-content: center !important;
    align-items: center;
    gap: 0 !important;
}

.slick-slide {
    display: flex !important;
    justify-content: center !important;
    padding: 0 !important;
    margin: 0 !important;
}

/* Miniaturas */
.thumbnail-wrapper {
    cursor: pointer;
    margin: 0 5px;
    /* Added horizontal gap between slides */
    padding: 0;
}

.thumbnail-image {
    width: 150px;
    height: 90px;
    object-fit: cover;
    border-radius: 4px;
    transition: transform 0.3s;
}

.thumbnail-image:hover {
    transform: scale(1.05);
}

/* Responsive adjustments for thumbnails */
@media (max-width: 768px) {
    .thumbnail-image {
        width: 120px;
        height: 72px;
    }
}

@media (max-width: 480px) {
    .thumbnail-image {
        width: 100px;
        height: 60px;
    }
}

/* Remove any default arrow styles */
.slick-prev,
.slick-next {
    display: none !important;
}