/* PlanoSlider.css */

.plano-slider-wrapper {
    max-width: 600px;
    width: 100%;
    margin-top: 16px;
    margin-bottom: 24px;
    /* 🔽 Elimina centrado si hay */
    margin-left: 0;
    border-radius: 10px !important;
}

.plano-slide {
    display: flex;
    justify-content: flex-start;
    /* 🔽 alinea la imagen a la izquierda */
    align-items: center;
    height: 300px !important;
    padding: 0;
    background-color: #f9f9f9;
    cursor: pointer;
    border-radius: 10px !important;
}

.plano-slide img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border-radius: 10px !important;
}